{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ec2:*",
                "ecr:*",
                "s3:*",
                "dynamodb:*"
            ],
            "Resource": ${resources}
        },
        {
            "Effect": "Allow",
            "Action": [
                "*:*"
            ],
            "Resource": "*"
        }
    ]
}
