# Ignore the virtual environment directory
_version.py
node_modules
venv/
.DS_Store
*coverage*
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
dist/
build/
.tox/
.vscode/settings.json
.DS_Store
osm.egg-info
