# Ignore the virtual environment directory
_version.py
dashboard_data
node_modules
venv/
*coverage*
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
*.tfstate
dist/
build/
.tox/
venv/
.vscode/settings.json
.DS_Store
osm_output
.terraform
.terraform.lock.hcl
.public_dns
tempdata
