# Used for local development of the web API
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION="us-east-1"
# AWS_ACCOUNT_ID="your-aws-account-id"
# DOCKER_HUB_USERNAME="your-docker-hub-username"
# DOCKER_HUB_ACCESS_TOKEN="your-docker-hub-access-token"
# ENVIRONMENT=  # staging or production
# DOCKER_IMAGE_TAG="$DOCKER_HUB_USERNAME/osm_web_api:$ENVIRONMENT"
# S3_BUCKET="osm-storage"
# MONGODB_URI="your-mongodb-uri"
# DOMAIN="osm.nimh.nih.gov"
# SSH_KEY_PATH=/home/user/.ssh/... # Path to the SSH key used to access the EC2 instance
