version: '3.7'
services:
    osm_web_api:
        image: {{ docker_image_tag }}
        environment:
            - MONGODB_URI={{ mongodb_uri }}
        working_dir: /app/app
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik-public
            - traefik.http.routers.osm_web_api.rule=Host(`osm.pythonaisolutions.com`)
            - "traefik.http.routers.osm_web_api.entrypoints=web,websecure"
            # use the "le" (Let's Encrypt) resolver to get Let's Encrypt certificates
            - traefik.http.routers.osm_web_api.tls=true
            - traefik.http.routers.osm_web_api.tls.certresolver=le
        networks:
            - traefik-public

    traefik:
        image: traefik
        restart: always
        container_name: traefik
        command:
            - --providers.docker=true
            - --providers.docker.exposedbydefault=false
            - --entrypoints.web.address=:80
            - --entrypoints.websecure.address=:443
            - --entryPoints.web.http.redirections.entryPoint.to=websecure
            - "--certificatesresolvers.le.acme.email={{ cert_email }}"
            - --certificatesresolvers.le.acme.storage=/certificates/acme.json
            - --certificatesresolvers.le.acme.tlschallenge=true
            - --log
            - --accesslog
            - --api.insecure=true
            # - --api
        ports:
            - 80:80
            - 8080:8080
            - 443:443
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - traefik-public-certificates:/certificates
        networks:
            - traefik-public

volumes:
    traefik-public-certificates:

networks:
    traefik-public:
